:root {
    --text-white: #FFFFFF;
    --text-black: #202240;
    --text-grey: #B4BDCD;
    --cl-light-orange: #FFA067;
    --cl-danger: #FE7066;
    --cl-deep-orange: #FA5F1D;
    --cl-deep-yellow: #FFC632;
    --cl-deep-purple: #5843BE;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    width: 100px;
}

li {
    list-style: none;
}

.m-0 {
    margin: 0;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.text-center {
    text-align: center;
}

.text-white, .icon-white {
    color: var(--text-white);
}

.text-purple, .icon-purple {
    color: var(--cl-deep-purple);
}

.text-orange, .icon-orange {
    color: var(--cl-deep-orange)
}

.text-black {
    color: var(--text-black)
}

.text-grey {
    color: var(--text-grey)
}

.text-danger {
    color: var(--cl-danger);
}

.rt-270 {
    transform: rotate(270deg);
}

.bg-deep-orange {
    background-color: var(--cl-deep-orange);
}

.bg-deep-purple {
    background-color: var(--cl-deep-purple);
}

.bg-danger {
    background-color: var(--cl-danger);
}

/* page wrapper */
.content {
    display: grid;
    grid-template-columns: auto 27%;
    /* grid-template-areas: "two three"; */
}

/* sidebar */
.sidebar {
    background-color: #F1F3F6;
    display: grid;
    /* gap: 75px; */
    grid-template-rows: 100px auto;
    height: 100%;
    padding-top: 25px;
    position: fixed;
    width: 120px;
    z-index: 4;
}

.logged-in-user {
    background-color: white;
    box-shadow: 0px 5px 15px 5px #DDDDDD;
    display: grid;
    font-size: 2rem;
    height: 70px;
    justify-self: center;
    width: 70px;
}

.logged-in-user > a {
    color: var(--cl-deep-orange);
    align-self: center;
}

.navbar {
    place-self: center;
}

.navbar-menu__links {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr;
    padding: 0;
}

.menu__link {
    font-size: 2rem;
}

/* dashboard content */
.course-content {
    margin-left: 120px;
    padding: 100px 60px 0;
}

.course-content > h1 {
    font-weight: 500;
    font-size: 2rem;
    color: #202240;
}

/* tasks */
.tasks {
    display: grid;
    gap: 30px;
    grid-template-columns: 2.6fr 1fr 1fr;
    grid-template-rows: 215px;
    margin-bottom: 60px;
}

.task {
    border-radius: 13px;
}

.exam {
    background-color: var(--cl-deep-purple);
    padding: 25px;
}

.exam-deadline__time {
    margin: 0;
    color: var(--text-grey);
}

.exam-deadline__time > b {
    color: var(--text-white);
}

.exam-name {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 15px;
}

.exam-description {
    color: var(--text-grey);
    font-size: .9rem;
}

.exam-footer {
    align-items: end;
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-top: 15px;
}

.exam-participants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 42px;
    justify-self: start;
    margin-left: 14px;
}

.exam-participant {
    border: 2px solid white;
    border-radius: 50%;
    width: 35px;
    margin-left: -14px;
}

.exam-participant:first-child {
    z-index: 3;
}

.exam-participant:nth-child(2) {
    z-index: 2;
}

.exam-participant:nth-child(3) {
    z-index: 1;
}

.more-participants {
    align-items: center;
    background-color: var(--cl-deep-yellow);
    border: 2px solid var(--cl-deep-yellow);
    border-radius: 50%;
    display: grid;
    height: 35px;
    margin: 0 0 0 -14px;
    width: 35px;
}

.homework {
    background-color: #FFEDE6;
    border: 1px solid transparent;
    padding: 25px;
}

.homework:hover {
    border: 1px solid var(--cl-deep-orange);
}

.check-wrapper {
    border-radius: 50%;
    height: 20px;
    padding: 7px;
    text-align: center;
    width: 20px;
}

.homework > .check-wrapper {
    border: 2px solid #fa5f1db5;
    color: #fa5f1dd1;
}

.homework > p {
    color: #fa5f1dd1;
    font-weight: 100;
}

.reading {
    background-color: #F6F4FF;
    border: 1px solid transparent;
    padding: 25px;
}

.reading:hover {
    border: 1px solid var(--cl-deep-purple);
}


.reading > .check-wrapper {
    border: 2px solid #5843beb5;
    color: #5843beb5;
}

.reading > p {
    color: #5843beb5;
    font-weight: 100;
}


.homework > h4, .reading > h4, .group-header > h4,
.group-footer__lesson > h4, .milestone__text > h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

.group {
    display: grid;
    gap: 55px;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 60px;
    /* grid-template-rows: 200px; */
}

.group-summary {
    box-shadow: -3px 2px 25px -4px #DDDDDD;
    padding: 35px;
    border-radius: 15px;
}

.group-header, .group-footer__lesson {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.group-header > p, .group-footer__lesson > p {
    margin: 0;
    justify-self: end;
}

.notification {
    font-size: 1.2rem;
}

/* .group-footer__lesson > h4, .milestone__text > h4 {
    font-size: 1rem;
    font-weight: 600;
} */

.group-body__homework {
    background: var(--cl-light-orange);
    border-radius: 10px;
    padding: 35px 25px 20px;
    display: grid;
    grid-template-columns: 92% 8%;
    margin-bottom: 30px;
}

.group-body__text {
    font-size: 0.85rem;
}

.homework-description > h5 {
    font-weight: 500;
    font-size: 1.2rem;
}

.homework-description > p {
    font-size: 0.9rem;
    font-weight: 300;
}

.homework-link {
    align-self: center;
    justify-self: center;
}

.course-details {
    padding: 35px 0;
}

.course-details__logo {
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 15px 5px #DDDDDD;
    height: max-content;
    padding: 15px 15px 11px 15px;
    width: max-content;
}

.course-details__logo > img {
    width: 45px;
}

.course-details > h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 30px;
}

.progress_indicator {
    background: #F5F7F9;
    border-radius: 20px;
    height: 10px;
    width: 100%;
}

/* .progress_indicator > span { */
.progress_indicator::after {
    background-color: var(--cl-light-orange);
    border-radius: inherit;
    box-shadow: 0 2px 15px 0 #FFCCAE;
    content: '';
    display: block;
    height: 10px;
    width: 75%;
}

/* milestones */
.milestones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 45px;
}

.milestone {
    align-items: center;
    border: 2px solid #F1F3F6;
    border-radius: 15px;
    display: grid;
    gap: 15px;
    grid-template-columns: 15% 70% 1fr;
    padding: 25px;
}

.milestone__img {
    background: white;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 #DDDDDD;
    display: grid;
    height: 40px;
    padding: 5px;
    place-items: center;
    width: 40px;
}

.milestone__text > p {
    font-size: .9rem;
    font-weight: 400;
}

.milestone__link {
    justify-self: center;
}

/* user details */
.details {
    background-color: #F9FAFB;
    height: 100%;
    padding: 70px 50px 0 50px;
}

/* .details {
    -ms-overflow-style: none;
    background: #F9FAFB;
    height: 100%;
    padding: 70px 50px 0 50px;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    scrollbar-width: none;
}

.details::-webkit-scrollbar {
    display: none;
}*/

.user {
    display: grid;
    margin-bottom: 40px;
    place-items: center;
}

.user-img {
    width: 128px;
    border-radius: 50%;
    box-shadow: -5px 0px 30px 15px #DDDDDD;
}

.user-rating {
    background-color: var(--cl-light-orange);
    border: 6px solid #EBEBEB;
    border-radius: 50%;
    height: 20px;
    margin: -44px 88px;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 20px;
}

.user-name {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 20px 0 5px 0;
}

.user-job {
    font-size: 1.1rem;
    font-weight: 400;
}

.promo {
    border: 2px solid #F1F3F6;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 85% 15%;
    padding: 25px;
}

.promo__discount {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.promo__course {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

.promo__link {
    align-self: center;
    background: #F9FAFB;
    border-radius: 8px;
    box-shadow: 5px 5px 8px 1px #DDDDDD;
    grid-column: 2;
    grid-row: 1 / 3;
    padding: 10px;
    text-align: center;
}

.courses-progress > h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 45px;
}

.course {
    align-items: center;
    display: grid;
    border: 1.7px solid #E7E7E7;
    border-radius: 15px;
    gap: 15px;
    grid-template-columns: max-content 1fr 3fr;
    margin-top: 25px;
    padding: 15px 20px;
}

.course > p {
    font-size: 1.2rem;
    font-weight: 500;
}

.course-img {
    align-items: center;
    border-radius: 10px;
    color: white;
    display: grid;
    height: 50px;
    justify-items: center;
    padding: 5px;
    width: 50px;
}

.course-objective > h4 {
    font-size: 1rem;
    font-weight: 500;
}

.course-objective > p {
    font-size: 0.8rem;
    font-weight: 400;
}

@media (max-width: 1330px) {

    .content {
        grid-template-columns: 1fr;
        grid-template-areas: "one two";
    }

    .tasks {
        grid-template-columns: 1fr 1fr;
    }

    .group, .milestones {
        grid-template-columns: 1fr;
    }

    .details {
        display: none;
    }

    .exam {
        grid-column: 1 / 3;
    }

}

@media (max-width: 600px) {

    .sidebar {
        display: none;
    }

    .course-content {
        margin-left: 0;
        padding: 50px 20px;
    }

    .content {
        grid-template-columns: 1fr;
        grid-template-areas: none;
    }

    .tasks {
        grid-template-columns: 1fr;
    }

    .exam {
        grid-column: initial;
    }

}
